div {
  user-select: none;
  color: blue;
}

li {
  list-style: none;
}

.fire {
  user-select: none;
  color: red;
}

.you-lose {
  color: red;
  font-size: 50px;
}

.you-win {
  color: green;
  font-size: 50px;
}

.selected {
  outline: solid;
  outline-color: limegreen;
}

.frozen div {
  color: gray;
}

.drow ul{
  display: flex;
  justify-content: space-around;
}

.prow ul {
  display: flex;
  justify-content: space-around;
}

.card-slot {
  width: 100px;
  height: 150px;
  border: 1px solid black;
}
