* {
  background-color: black;
}

div {
  user-select: none;
  color: white;
}

li {
  list-style: none;
}

.fire {
  user-select: none;
  color: red;
}

.you-lose {
  color: red;
  font-size: 50px;
}

.you-win {
  color: green;
  font-size: 50px;
}

.selected {
  outline: solid;
  outline-color: limegreen;
}

.frozen div {
  color: gray;
}

.drow ul{
  display: flex;
  justify-content: space-around;
}

.prow ul {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 40px;
  background-color: black;
  border: 1px dotted white;
  position: relative;
}

.card:before {
  content: " ";
  position: absolute;
  z-index: 1000;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid white;
}

.card-slot {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: black;
  border: 1px dotted white;
}

.player {
  font-size: 25px;
}

img {
  max-width: 150px;
  max-height: 150px;
}
