* {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
}

.main {
  display: flex;
  justify-content: center;
}

.screen {
  margin-top: 100px;
  border: 7px solid white;
  border-radius: 20px;
  min-width: 1200px;
  min-height: 1200px;
  overflow: hidden;
  position: relative;
}

div {
  user-select: none;
  color: white;
}

li {
  list-style: none;
}

.fire {
  user-select: none;
}

.fire img {
  filter: grayscale(100%);
  min-height: 400px;
  min-width: 400px;
}

.selected .card{
  /*outline: solid;
  outline-color: limegreen;*/
  box-shadow: 0 0 0 3px limegreen;
}

.frozen div img {
  opacity: 0.3;
}

.frozen div span {
  opacity: 0.3;
}

.drow ul{
  display: flex;
  justify-content: space-around;
}

.prow ul {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 225px;
  height: 350px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 40px;
  background-color: black;
  border: 1px dotted white;
  position: relative;
  border-radius: 20px;
  margin: 0 15px;
}

.card:before {
  content: " ";
  position: absolute;
  z-index: 1000;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid white;
}

.card-slot {
  width: 225px;
  height: 350px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: black;
  border: 1px dotted white;
  border-radius: 20px;
  margin: 0 15px;
}

.magic {
  font-size: 30px;
}

.player {
  font-size: 25px;
}

img {
  max-width: 150px;
  max-height: 150px;
}

.root {
  position: relative;
  top: -20px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings {
  position: absolute;
  top: 50px;
  left: 0;
  cursor: pointer;
}

.settings img {
  height: 50px;
  width: 50px;
}

.settings img:hover {
  opacity: 0.7;
}

.settings button {
  color: white;
  border: none;
}

.settings button:active {
  outline: none;
  opacity: 0.7;
}

.deck img {
  min-height: 300px;
  min-width: 200px;
  position: relative;
  top: 0;
  left: 0;
}

.deck div {
  font-size: 30px;
  position: absolute;
  top: 150px;
  left: 330px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 7px solid white;
}

.top {
  margin-right: 70px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.you-lose {
  width: 1200px;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.you-win {
  width: 1200px;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.you-lose img {
  min-height: 200px;
  min-width: 500px
}

.you-win img {
  min-height: 200px;
  min-width: 800px;
}
