div {
  user-select: none;
  color: blue;
}

li {
  /*list-style: none;*/
}

.fire {
  user-select: none;
  color: red;
}

.you-lose {
  color: red;
  font-size: 50px;
}

.you-win {
  color: green;
  font-size: 50px;
}
