* {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img{
  transform: perspective(500px) rotateX(30deg);

  height: 150px;
  width: 1000px;
}

.screen {
  margin-top: 10px;
  border: 7px solid white;
  border-radius: 20px;
  min-width: 1200px;
  min-height: 1200px;
  overflow: hidden;
  position: relative;
}

.footer {
  width: 1200px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.footer img {
  max-width: 100px;
  max-height: 100px;
}

div {
  user-select: none;
  color: white;
}

li {
  list-style: none;
}

.fire {
  user-select: none;

}

.fire img {
  filter: grayscale(100%);
  min-height: 400px;
  min-width: 400px;
}

.bright img {
  filter: grayscale(100%) contrast(400%);
}

.valid-target {
    box-shadow: 0 0 0 3px blue;
}

.selected .card{
  /*outline: solid;
  outline-color: limegreen;*/
  box-shadow: 0 0 0 3px limegreen;
}

.frozen div img {
  opacity: 0.3;
}

.frozen div span {
  opacity: 0.3;
}

.drow ul{
  display: flex;
  justify-content: space-around;
}

.prow ul {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 225px;
  height: 350px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 40px;
  background-color: black;
  border: 1px dotted white;
  position: relative;
  border-radius: 20px;
  margin: 0 15px;
}

.card:before {
  content: " ";
  position: absolute;
  z-index: 1000;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid white;
}

.card-slot {
  width: 225px;
  height: 350px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: black;
  border: 1px dotted white;
  border-radius: 20px;
  margin: 0 15px;
}

.magic {
  font-size: 30px;
}

.player {
  font-size: 25px;
}

.screen img {
  max-width: 150px;
  max-height: 150px;
}

.root {
  position: relative;
  top: -20px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings {
  position: absolute;
  top: 50px;
  left: 0;
  transform: rotate(-90);
  transition: 3s;
}

.settings ul {
  margin-left: 20px;
  padding: 0;
  list-style-type: none;
}

.gear {
  cursor: pointer;
}

.settings img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.settings-item {
  margin-bottom: 20px;
}

.settings img:hover {
  opacity: 0.7;
}

.settings button:active {
  outline: none;
  opacity: 0.7;
}

.turnt img {
  transition: 2s;
  transform: rotate(90deg);
}

.turntUp img {
  transition: 2s;
  transform: rotate(0deg);
}

.unhidden {
  opacity: 1;
  transition: 2s;
  visibility: visible;
}

.hidden {
  opacity: 0;
  transition: 2s;
  visibility: hidden;
}

.deck img {
  min-height: 300px;
  min-width: 200px;
  position: relative;
  top: 0;
  left: 0;
}

.deck div {
  font-size: 30px;
  position: absolute;
  top: 150px;
  left: 330px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 7px solid white;
}

.top {
  margin-right: 70px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.you-lose {
  width: 1200px;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.you-win {
  width: 1200px;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.you-lose img {
  min-width: 700px;
  min-height: 80px;
}

.you-win img {
  min-width: 700px;
  min-height: 80px;
}

.you-win h1 {
  margin-top: 30px;
}

.you-win span {
  color: limegreen;
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1100px;
  height: 1200px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 80px;
}

.rules p {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 150px;
  line-height: 2.0;
}

.rules span{
  color: limegreen;
}

.rules span span {
  color: #42e2f4;
}

.rules span span span {
  color: red;
}

.rules span span span span{
  color: yellow;
}

.rules span span span span span{
  color: #bf42f4;
}

.rules span span span span span span{
  color: pink;
}
