* {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  user-select: none;
}

.root {
  overflow: hidden;
}

.main {
  height: 99vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
}

.logo {
  margin-top: 50px;
}

.logo img{
  transform: perspective(500px) rotateX(30deg);

  height: 110px;
  width: 750px;
}

.screen {
  margin-top: 10px;
  border: 7px solid white;
  border-radius: 20px;
  min-width: 900px;
  min-height: 900px;
  overflow: hidden;
  position: relative;
}

.footer {
  width: 1000px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.footer img {
  max-width: 100px;
  max-height: 100px;
}

div {
  user-select: none;
  color: white;
}

li {
  list-style: none;
}

.fire {
  user-select: none;

}

.fire img {
  filter: grayscale(100%);
  min-height: 300px;
  min-width: 300px;
}

.bright img {
  filter: grayscale(100%) contrast(400%);
}

.valid-target {
    box-shadow: 0 0 0 3px blue;
}

.selected .card{
  /*outline: solid;
  outline-color: limegreen;*/
  box-shadow: 0 0 0 3px limegreen;
}

.frozen div img {
  opacity: 0.3;
}

.frozen div span {
  opacity: 0.3;
}

.drow ul{
  display: flex;
  justify-content: space-around;
}

.prow ul {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 170px;
  height: 260px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 30px;
  background-color: black;
  border: 1px dotted white;
  position: relative;
  border-radius: 20px;
  margin: 0 15px;
}

.card:before {
  content: " ";
  position: absolute;
  z-index: 1000;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid white;
}

.card-slot {
  width: 170px;
  height: 260px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: black;
  border: 1px dotted white;
  border-radius: 20px;
  margin: 0 15px;
}

.magic {
  font-size: 20px;
}

.player {
  font-size: 18px;
}

.screen img {
  max-width: 110px;
  max-height: 110px;
}

.root {
  position: relative;
  top: -20px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings {
  position: absolute;
  top: 50px;
  left: 0;
  transform: rotate(-90);
  transition: 3s;
}

.settings ul {
  margin-left: 20px;
  padding: 0;
  list-style-type: none;
}

.gear {
  cursor: pointer;
}

.settings img {
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.gear img {
  height: 50px;
  width: 50px;
}

.settings-item {
  margin-bottom: 20px;
}

.settings img:hover {
  opacity: 0.7;
}

.settings button:active {
  outline: none;
  opacity: 0.7;
}

.turnt img {
  transition: 2s;
  transform: rotate(90deg);
}

.turntUp img {
  transition: 2s;
  transform: rotate(0deg);
}

.unhidden {
  opacity: 1;
  transition: 1.5s;
  visibility: visible;
}

.hidden {
  opacity: 0;
  transition: 1.5s;
  visibility: hidden;
}

.deck img {
  min-height: 200px;
  min-width: 150px;
  position: relative;
  top: 0;
  left: 0;
}

.deck div {
  font-size: 25px;
  position: absolute;
  top: 110px;
  left: 175px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 7px solid white;
}

.top {
  margin-right: 70px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.you-lose {
  min-width: 850px;
  min-height: 885px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.you-win {
  min-width: 850px;
  min-height: 885px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.you-lose img {
  min-width: 525px;
  min-height: 60px;
}

.you-win img {
  min-width: 525px;
  min-height: 60px;
}

.you-win h1 {
  margin-top: 30px;
}

.you-win span {
  color: limegreen;
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 825px;
  height: 900px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 60px;
  overflow-y: scroll;
  padding-right: 17px;
}

.rules p {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 150px;
  line-height: 2.0;
}

.okay {
  font-size: 30px;
  border-radius: 10px;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  background-color: white;
  color: black;
}

.rules span{
  color: limegreen;
}

.rules span span {
  color: #42e2f4;
}

.rules span span span {
  color: red;
}

/*.rules span span span span{
  color: yellow;
}

.rules span span span span span{
  color: #bf42f4;
}

.rules span span span span span span{
  color: pink;
}*/
